matrix:
  include:
    - language: java
      before_script:
        - cd ecoviz-service
      script:
        - echo "Building ecoviz-service"

        #- sed -i.bak -E "s/(mongodb-server-host-1:)(.*)$/\1 $MONGO_HOST/g" src/main/resources/META-INF/jnosql.yaml 
        - mvn -B clean install

      after_success:
        - # Triggers redeployment
        - echo "Triggering webhook"
        - "curl -X POST \"$HOOK_URL\" -H \"X-Hook-Token:$HOOK_TOKEN\" -H \"Content-Type:application/json\" -d '{\"name\":\"ecoviz-service\",\"url\":\"\"}\"'"

      branches:
        only:
          - master

    - language: javascript
      before_script:
        - cd ecoviz-front
      script:
        - echo "Building ecoviz-front"

        - yarn install
        - yarn run build:prod
        
      after_success:
        - # Trigger redeployment 
        - echo "Triggering ecoviz-front"
        - zip dist.zip dist
        - "curl -X POST \"$HOOK_URL\" -H \"X-Hook-Token:$HOOK_TOKEN\" -H \"Content-Type:application/json\" -d '{\"name\":\"ecoviz-front\",\"url\":\"$(curl --upload-file dist.zip https://transfer.sh/dist.zip)\"}\"'"
      
      branches:
        only:
          - master

      cache:
        yarn: true
        directories:
          - node_modules

notifications:
  email:
    - $EMAIL
